html {
   height: 100%;
}
body {
   align-items: center;
   background-color: #1c1c1c;
   color: white;
   overflow: hidden;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   font-family: 'Indie Flower';
   font-size: 20pt;
   height: 100%;
   justify-content: center;
}
.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
h2 {
   transition: color 450ms;
}
.container {
   max-width: 600px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.square {
   width: 40px;
   height: 40px;
   border-radius: 5px;
   margin: 20px 5px;
}